{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Select blog repository{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog_bp.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<form action="" method="post">
  <label for="repo">Select blog repository: </label>
  <select name="repo" id="repo">
    {% for repo in repos %}
    <option value="{{ repo['full_name'] }}/git/trees/{{ repo['default_branch'] }}">{{ repo['full_name'] }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit">
</form>
{% endblock %}